@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("orange", "darken-1") !default;
@import "materialize";

// Icons
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.add-margin-bottom {
	margin-bottom: 20px;
}

.pagination li i {
	font-size: 1.2rem;
}

.student-card {
	height: 175px;
	.card-action {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.new-entity {
	margin-top: 1.5rem;
}

.new-entity-heading {
	margin: 0 0 1.5rem 0;
}

.view-heading {
	margin: 0 0 1.5rem 0;
	font-size: 1.75rem !important;
	font-weight: 600 !important;
}

.view-label {
	font-size: 1.4rem;
}

.code-bold {
	font-weight: 600;
}

.sml-pad-top {
	padding-top: 8px !important;
}

.med-pad-top {
	padding-top: 15px !important;
}

.error-list ul:not(.browser-default) li {
   	list-style: disc inside;
}

.course-link {
	color: #ffffff;
}

.dropdown-head-wide {
	width: 150px;
}

.menu-wide {
	width: 110px;
}

@media only screen and (max-width: 600px) {
	.brand-logo {
		font-size: 1.2rem !important;
	}
}

.sidenav-heading {
	font-weight: 500;
	font-size: 1.2rem;
	padding: 0 32px;
}

.sidenav-first {
	padding-top: 40px;
}

.sidenav li > a {
	font-size: 1.2rem;
	font-weight: 200;
}

.cancel {
	margin-left: 5px !important;
}