@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
$secondary-color: color("orange", "darken-1") !default;
@import "materialize";

// Icons
@import "https://fonts.googleapis.com/icon?family=Material+Icons";

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.no-margin-bottom {
	margin-bottom: 0;
}

.add-margin-bottom {
	margin-bottom: 20px;
}

.pagination li i {
	font-size: 1.2rem;
}

.student-card {
	height: 175px;
	.card-action {
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.new-entity {
	margin-top: 1.5rem;
}

.new-entity-heading {
	margin: 0 0 1.5rem 0;
}

.error-list ul:not(.browser-default) li {
   	list-style: disc inside;
}

.course-link {
	color: #ffffff;
}

.dropdown-head-wide {
	width: 150px;
}

.menu-wide {
	width: 110px;
}